{% extends 'template.html'%}

{% block title%}Reset Password{% endblock %}

{% block content %}
    <section>
        <div class="container-fluid p-5 bg-primary text-white text-center">
            
            {% if validlink %}
                <h3 >Reset Password Confirm</h3>
                <form method="post">
                    {% csrf_token%}
                    {{form.as_p}}
                    <p>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </p>
            </form>
            {% else %}
                <h3 class="content-title">Link Expired </h3>


            {% endif %}
        </div>
    </section>
        

{% endblock %}