{% extends 'template.html'%}

{% block title%}Change Password{% endblock %}

{% block content %}
    <section class="content-section content-section-single row">
        <div class="content-container content-container-narrow col">
            <h3 class="content-title">Hello {{user.username}}</h3>
            <p>
                <a href="{% url 'dashboard' %}">DashBoard</a>
                <a href="{% url 'profile'%}">Profile</a>
                <a href="{% url 'password_change'%}">Change Password</a>

            </p>
            <form action="{% url 'password_change' %}" method="post">
                {% csrf_token%}
                {{form.non_field_errors}}
                {{form.as_p}}
                <p>
                    <button type="submit" class="button button-primary">Submit</button>
                </p>
            </form>
            
        </div>
    </section>
        

{% endblock %}