{% extends 'template.html'%}

{% block title%}Reset Password{% endblock %}

{% block content %}
    <section class="container-fluid p-5 bg-danger text-white text-center">
        <div class="content-container content-container-narrow">
            <h3 class="content-title">Reset Password</h3>
            <form action="{% url 'password_reset' %}" method="post">
                {% csrf_token%}
            
                {{form.as_p}}
                <p>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </p>
            </form>
            
        </div>
    </section>
        

{% endblock %}